body {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 0.937);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(242, 242, 242, 0.099);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.product-card {
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
}
.product-img {
  display: flex;
  justify-content: center;
}
.product-card img {
  max-height: 25rem;
  max-width: 20rem;
  object-fit: cover;
  object-position: center;
}
